<div class="popup">
  <div class="pop-img">
    <%= cl_image_tag garden.photo.key, height: 70, width: 130, crop: :fill %>
  </div>
  <div class="container-popup">
    <div class="popup-card">
      <h6 class="text-center mt-2 mb-1"><%= garden.name %></h6>
      <% unless garden.reviews.blank? %>
        <h6 class="text-center mb-1", style="font-weight: 100">⭐ <%= garden.reviews.average(:rating).round(2) %></h6>
      <% end %>
    <div class="popup-button-flex mb-1">  <%= simple_form_for [@trip, @segment] do |f| %>
      <%= f.association :garden, as: :hidden, input_html: { value: garden.id } %>
      <%= f.input :destination, as: :hidden, input_html: { value: garden.address } %>
      <%= f.button :submit, "Select", class: "btn primary-btn primary-btn-popup-select" %>
      <% end %>
      <%= link_to "View", garden_path(garden, trip: @trip.id), class: "btn primary-btn primary-btn-popup-view" %>
    </div>
    </div>
  </div>
</div>
