
<div id="map"
     data-view="trip-new"
     data-set-markers="false"
     style="width: 100%; height: 60vh;"
     data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"
     >
</div>

<div class="container-trip-new">
  <div class="trip-new-box">
    <div class="text-center mt-3">
      <h1 class="title mb-2"><strong>Plan Your Trip</strong></h1>
    </div>

    <div class="text-center">
      <%= simple_form_for @trip do |f| %>
        <%= f.input :final_destination, label: false, placeholder: 'Where do you wanna ride?'%>
        <%= f.hidden_field :start_location_latitude %>
        <%= f.hidden_field :start_location_longitude %>
        <%= f.submit "Start Trip", class: "btn primary-btn", style: "width: 83%" %>
      <% end %>
    </div>
  </div>
</div>

