<div id="map" data-set-markers="false"
style="width: 100%; height: 60vh;"
data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"
data-markers="<%= @markers.to_json %>" >  <!-- map container class? -->
  <!--This is for the map -->
</div>

<div class="container">
  <div class="text-center mt-3"> <!--need to add class -->
    <h1 class="title"><strong>Plan Your Trip</strong></h1>
  </div>

<!--   <div class="", style="margin-bottom: 30px"> need to add class ?
    <p><strong>My final destination is:</strong></p>
  </div>
 -->

  <div class="text-center mt-3">
    <%= simple_form_for @trip do |f| %>
    <%= f.input :final_destination, label: false, placeholder: 'Where do you want your bike to take you?'%>
    <%#= f.input :photo, as: :file %>
    <%= f.submit "Start Trip", class: "btn primary-btn mt-2" %>
    <% end %>
  </div>
</div>

