<div id="map"
     data-view="trip-new"
     data-set-markers="false"
     style="width: 100%; height: 60vh;"
     data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"
     >
</div>

<div class="container-trip-new">
  <div class="trip-new-box">
    <div class="text-center mt-3">
      <h1 class="title"><strong>Plan Your Trip</strong></h1>
    </div>

    <div class="text-center mt-3">
      <%= simple_form_for @trip do |f| %>
      <%= f.input :final_destination, label: false, placeholder: 'Where do you wanna ride?'%>

      <%= f.input :start_location_latitude, as: :hidden %>
      <%= f.input :start_location_longitude, as: :hidden %>
      <%= f.submit "Start Trip", class: "btn primary-btn mt-2" %>
      <% end %>
    </div>
  </div>
</div>

