<div id="map"
  data-set-markers="true"
  data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"
  data-markers="<%= @markers.to_json %>"
  data-final-destination="<%= @trip.final_destination %>"
  data-wagon-lat="<%= @wagonlat %>"
  data-wagon-lng="<%= @wagonlng %>"
  >
</div>


<div class="container">
  <div class=""> <!--need to add class -->
    <h1 class="title mb-0"><strong>Pick a Garden</strong></h1>
  </div>
  <div>
    <p class="text-center", style="margin-bottom: 20px">Select a route by picking a garden</p>
  </div>

<div class="stats-container">
  <div class="stats-container-distance"> <!--need to add class with displayflex -->
    <div class="distance"> <!--add info from api -->
      <i class="distance-icon-stats fas fa-route fa-2x"></i>
      <p class="distance-insert text-center mb-0"></p>
      <p class="font-description mb-0"><strong>Distance</strong></p> <!-- add calculation -->
    </div>
  </div>



  <div class="stats-container-duration">
    <div class="duration">
      <i class="duration-icon-stats fas fa-stopwatch fa-2x"></i> <!--add info from api  -->
      <p class="time-insert text-center mb-0"></p>
      <p class="font-description mb-0"><strong>Duration</strong></p> <!-- add calculation -->
    </div>
  </div>
</div>

<div>
  <%= link_to "Change final destination", new_trip_path, class: "btn primary-btn" %>
</div>

</div>
