<div class="container-profile text-center">
  <div class="profile-top">
    <h1 class="title">Welcome Back <%= @user.first_name %></h1>
    <div>
      <%= cl_image_tag @user.photo.key, class: "avatar-profile" %>
    </div>
  </div>

  <div class="profile-bottom">
    <div class="profile-content">
      <div>
        <%= link_to "My Trip", trip_path(@trips.last), class: "mytrips-profile-btn" %>
      </div>
      <div>
        <h2>My Garden Reservations</h2>
      </div>
    </div>

    <div>
      <div>
        <h2>Past Trips</h2>
      </div>
      <ul class="trip-profile-list">
        <% @trips.each do |trip| %>
          <li class="trip-profile-each">
            <div><%= trip.final_destination.capitalize %></div>
            <div><%= trip.created_at.strftime("%d/%m/%Y") %></div>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</div>

