<div class="navbar navbar-expand-sm navbar-light navbar-lewagon" data-controller="collapsable-sidebar">
  
     
 
    <span class="navbar-toggler-icon" data-action="click->collapsable-sidebar#showSidebar"></span>
  
  <%= link_to "#", class: "navbar-brand" do %>
    <%= image_tag "https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/logo.png" %>
    <% end %>

  
  <div class="sidebar-nav d-none"  data-collapsable-sidebar-target="sidebar">
    <% if user_signed_in? %>
    <%= link_to "Log out", destroy_user_session_path, method: :delete, class: "dropdown-item" %>
    

    <%= link_to "find-road", class: "navbar-brand" do %>
      <%= image_tag "icons/navbar/find-road.svg" %>
    <% end %>

    <%= link_to "find-garden", class: "navbar-brand" do %>
      <%= image_tag "icons/navbar/find-garden.svg" %>
    <% end %>

    <%= link_to "gps", class: "navbar-brand" do %>
      <%= image_tag "icons/navbar/gps.svg" %>
    <% end %>

    <%= link_to "stats", class: "navbar-brand" do %>
      <%= image_tag "icons/navbar/stats.svg" %>
    <% end %>

    <%= link_to "chat", class: "navbar-brand" do %>
      <%= image_tag "icons/navbar/chat.svg" %>
    <% end %>

    <%= link_to "menu", class: "navbar-brand" do %>
      <%= image_tag "icons/navbar/menu.svg" %>
    <% end %>

     <% else %>
     <%= link_to "Login", new_user_session_path, class: "nav-link" %>
  

  <% end %>
     </div>
  </div>
</div>
