<div class="navbar navbar-expand-sm navbar-light navbar-lewagon" data-controller="collapsable-sidebar">
     <span class="navbar-toggler-icon" id="nav-default" data-action="click->collapsable-sidebar#showSidebar"></span>
  <div id="nav" class="sidebar-nav"  data-collapsable-sidebar-target="sidebar">
     <% if user_signed_in? %>

    <%= link_to "avatar", class: "navbar-brand" do %>
      <% if current_user.photo.attached? %>
        <div><%= cl_image_tag current_user.photo.key, class: "avatar-navbar" %>
      <% end %>
      </div>

      <div><p class="navbar-avatar">Profile</p></div>
    <% end %>

    <%= link_to "find-road", class: "navbar-brand" do %>
      <%= image_tag "icons/navbar/find-road.svg" %>
      <div><p class="navbar-text-find">Find Road</p></div>
    <% end %>

    <%= link_to "find-garden", class: "navbar-brand" do %>
      <%= image_tag "icons/navbar/find-garden.svg" %>
     <div><p class="navbar-text-garden">Find a Garden</p></div>
    <% end %>

    <%= link_to "gps", class: "navbar-brand" do %>
      <%= image_tag "icons/navbar/gps.svg" %>
      <div><p class="navbar-text-gps">GPS</p></div>
    <% end %>

    <%= link_to "stats", class: "navbar-brand" do %>
      <%= image_tag "icons/navbar/stats.svg" %>
      <div><p class="navbar-text-stats">Stats</p></div>
    <% end %>

    <%= link_to "chat", class: "navbar-brand" do %>
      <%= image_tag "icons/navbar/chat.svg" %>
      <div><p class="navbar-text-messages">Messages</p></div>
    <% end %>

    <%= link_to "Log out", destroy_user_session_path, method: :delete, class: "dropdown-item" %>
     <% else %>
    <%= link_to "Login", new_user_session_path, class: "nav-link" %>

    <% end %>
  </div>
</div>

