<div class="mapbox-prison">
  <div id="map" data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"
    style="width: 100%; height: 50vh;"
    data-set-markers="true"
    data-markers="<%= @markers.to_json %>"
    data-destination="<%= @segment.garden %>">
  </div>
</div>


<div class="container">
  <div class=""> <!--need to add class -->
    <h1 class="title mb-2"><strong>Details of todays ride</strong></h1>
  </div>

<div class="stats-container">
  <div class="stats-container-distance"> <!--need to add class with displayflex -->
    <div class="distance"> <!--add info from api -->
      <i class="distance-icon-stats fas fa-route fa-2x"></i>
      <p class="text-center mb-0"><strong> 4km </strong></p>
      <p class="font-description mb-0"><strong>Distance</strong></p> <!-- add calculation -->
    </div>
  </div>

<!--   <div class="stats-container-elevation">
    <div class="elevation">
      <i class="elevation-icon-stats fas fa-arrow-up fa-1x"></i> <!--add info from api  -->
     <!--  <p class="text-center mb-0"><strong> 345m </strong></p>
      <p class="font-description mb-0"><strong>Elevation</strong></p> <!-- add calculation -->
   <!--  </div>
  </div> -->

  <div class="stats-container-duration">
    <div class="duration">
      <i class="duration-icon-stats fas fa-stopwatch fa-2x"></i> <!--add info from api  -->
      <p class="text-center mb-0"><strong> 5:42h </strong></p>
      <p class="font-description mb-0"><strong>Duration</strong></p> <!-- add calculation -->
    </div>
  </div>
</div>

<div class="card-garden">
  <%= cl_image_tag(@garden.photo.key) %>
  <div class="card-garden-infos">
    <h2>Today you sleep at</h2>
    <p><%= @garden.user.username %>'s garden</p>
    <p><%= @garden.name %></p>
  </div>
<!--   <img src="https://kitt.lewagon.com/placeholder/users/krokrob" class="card-garden-user avatar-bordered" /> -->
</div>

<div>
  <%= link_to "Start Ride", segment_path(@segment), id: "finishride", class: "btn primary-btn mb-2" %>
</div>
