<div id="map" data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"
  data-markers="<%= @markers.to_json %>"
  data-destination="<%= @segment.garden %>"
  >
</div>

<div class="container">
  <div class="title"> <!--need to add class -->
    <h1 class="mb-3"><strong>Todays ride</strong></h1>
  </div>

<div class="stats-container">
  <div class="stats-container-distance"> <!--need to add class with displayflex -->
    <div class="distance"> <!--add info from api -->
      <i class="icons-stats fas fa-route fa-2x"></i>
      <p class="text-center mb-0"><strong> 4km </strong></p>
      <p class="font-description mb-0"><strong>Distance</strong></p> <!-- add calculation -->
    </div>
  </div>

  <div class="stats-container-elevation">
    <div class="elevation">
      <i class="icons-stats fas fa-arrow-up fa-2x"></i> <!--add info from api  -->
      <p class="text-center mb-0"><strong> 345m </strong></p>
      <p class="font-description mb-0"><strong>Elevation</strong></p> <!-- add calculation -->
    </div>
  </div>

  <div class="stats-container-duration">
    <div class="duration">
      <i class="icons-stats fas fa-stopwatch fa-2x"></i> <!--add info from api  -->
      <p class="text-center mb-0"><strong> 5:42h </strong></p>
      <p class="font-description mb-0"><strong>Duration</strong></p> <!-- add calculation -->
    </div>
  </div>
</div>

<p>Today you sleep in <%= @garden.name %> at <%= @garden.user.username %></p>


<div>
  <%= link_to "Start Ride", class: "btn primary-btn" %>
</div>
