<div class="page-content" data-controller="collapsable-segments-overview">
  <div class="mapbox-prison">
    <div id="map" data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"
      style="width: 100%; height: 40vh;"
      data-view="segment-show"
      data-origin="<%= @origin.to_json %>"
      data-destination="<%= @destination.to_json %>"
      data-collapsable-segments-overview-target="segmentmap"
      >
    </div>
  </div>

  <div class="segment-container">
    <div class="container">
      <i class="fas fa-chevron-down mt-2 text-center"
         data-action="click->collapsable-segments-overview#collapsabledown"
         data-collapsable-segments-overview-target="icon"></i>
    </div>
    <div class="segment-overview"
         data-collapsable-segments-overview-target="segmentcontainer">
       <div class="container-trip-new">
          <div class="segment-show-card">
            <div class="">
              <div class=""> <!--need to add class -->
                <h1 class="title title-segment"><strong>Details of todays ride</strong></h1>
              </div>

              <div class="stats-container">
                <div class="stats-container-distance"> <!--need to add class with displayflex -->
                  <div class="distance"> <!--add info from api -->
                    <i class="distance-icon-stats fas fa-route fa-2x"></i>
                    <p class="distance-insert text-center mb-0"></p>
                  </div>
                </div>

                <div class="stats-container-duration">
                  <div class="duration">
                    <i class="duration-icon-stats fas fa-stopwatch fa-2x"></i> <!--add info from api  -->
                    <p class="time-insert text-center mb-0"></p>
                  </div>
                </div>
              </div>

              <div class="card-garden-segment">
                <%= cl_image_tag(@garden.photo.key) %>
                <div class="card-garden-segment-infos">
                  <div>
                  <%= cl_image_tag @garden.user.photo.key, class: "avatar-segment" %>
                  </div>
                  <h2><%= @garden.user.username %>'s garden</h2>
                  <!-- <p><%#= @garden.name %></p> -->
                  <p><%= @garden.address %> </p>
                </div>
              </div>

              <div data-controller="switch-checkin-review">
                <div class="text-center" id="btn-switch"
                     data-action="click->switch-checkin-review#switch"
                      >
                  <%= link_to "Check In Garden", trip_segment_complete_path(@trip, @segment),
                      method: :post, data: {turbolinks: "false"}, class: "btn primary-btn mb-2",
                      'data-switch-checkin-review-target' => "checkinbtn"
                   %>
                </div>
                <div class="hidden" data-switch-checkin-review-target="reviewbtn">
                    <%= simple_form_for [@trip, @segment], :url => new_garden_review_path(@garden), :method => :get do |f| %>
                    <%= f.hidden_field :trip, value: @trip.id  %>
                    <%= f.input :segment, as: :hidden, input_html: { value: @segment.id } %>
                    <%= hidden_field_tag :segment_id, @segment.id %>
                    <%= f.button :submit, "Leave review", class: "btn primary-btn btn-review-segment" %>
                  <% end %>
                </div>
              </div>
            </div>
          </div>
       </div>
    </div>
  </div>
</div>
