<div id="map" class="d-none"
     data-view="trip-new"
     data-set-markers="false"
     style="width: 100%; height: 60vh;"
     data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"
     >
</div>

<div class="backgroundimage" style="background-image: url(' <%= image_url "landingpage.jpg" %>')">
  <div><%= image_tag "logo-velo-v1.png", class: "logo" %></div>
  <div><%= image_tag "discover-v4.png", class: "sentense" %></div>
  <!-- <h1 style="margin-bottom:50px"><strong>Discover, Meet & Share</strong></h1> -->

  <div class="container-landing">
    <div class="btn primary-btn-landing">
      <%= link_to "START PLANNING", new_trip_path, data: {turbolinks: "false"}, style: "color: white" %>
    </div>
    <div class="link-landing">
      <%= link_to "Don't have an account yet?", new_user_registration_path, style: "color: rgba(255, 255, 255, 0.6)" %>
    </div>
  </div>
</div>
