<div class="container-garden-show">
  <div class="card-garden">
    <%= cl_image_tag @garden.photo.key, width: 1140, height: 400, class: "img-garden", crop: :fill %>
  </div>

  <div class="garden-view-box">
    <div class="show-garden-title">
      <h2><%= @garden.name %></h2>
        <div class="stars-avatar-owner border-bottom">
          <div>
            <%= cl_image_tag @garden.user.photo.key, class: "avatar-view-page" %>
          </div>
            <div class="container-garden-rating-capacity">
              <div class="stars-owner mb-2">
                <p class="mb-1 ml-2"><%= @garden.user.username %>'s garden</p>
                <div class="tent-capacity-and-rating">
                  <% if !@garden.reviews.blank? %>
                    <p class="capacity", style="font-weight: 100; padding-bottom: 1px">★ <%= @average_rating %></p>
                  <% end %>
                  <p class="mb-1", style="font-weight: 100"><%= image_tag("tent.svg", style:"margin-bottom: 5px") %>
                  <%= @garden.tent_capacity %>
                  </p>
                </div>
              </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row-facilities">
          <% @facilities.each do |facility| %>
            <div class="garden-chip col-3">
                <% if facility.image.attached? %>
                  <div class="garden-chip-img">
                    <%= cl_image_tag facility.image.key %>
                  </div>
                  <div class="facility-text">
                    <%= facility.name %>
                  </div>
                <% end %>
            </div>
          <% end %>
        </div>
      </div>

    <div class="garden-description border-bottom">
      <p><%= @garden.description %></p>
    </div>

    <div class="reviews-garden-show">
      <h2 class="mb-2">
        <%= pluralize @garden.reviews.size, "Review" %>
      </h2>

      <div>
        <% if @garden.reviews.blank? %>
          <p>Be the first to leave a review for <%= @garden.name %></p>
        <% else %>

          <% @garden.reviews.each do |review| %>
            <div class="guest-star-review">
            <p class="guest-name"><%= review.user.first_name %></p>
            <p style="font-size: 12px" class="star-rating"><% (review.rating).times do %>
            <%= "★" %>
            <% end %>
            <% (5 - review.rating).times do %>
            <%= "☆" %>
            <% end %></p>
            </div>

            <p id="review-<%= review.id %>" class="border-bottom" style="font-weight: 100"><%= review.description %></p>
          <% end %>
        <% end %>
      </div>
    </div>

    <div class="show-page-buttons">
      <% if @trip %>
        <div>  <%= simple_form_for [@trip, @segment] do |f| %>
            <%= f.association :garden, as: :hidden, input_html: { value: @garden.id } %>
            <%= f.input :destination, as: :hidden, input_html: { value: @garden.address } %>
            <%= f.button :submit, "Select", class: "btn primary-btn primary-btn-view-page-buttons primary-btn-view-page-buttons-view-select-btn" %>
            <% end %>
        </div>
      <% end %>

      <div>
        <p><%= link_to "Back", :back, data: {turbolinks: "false"}, class: "btn primary-btn primary-btn-view-back-button" %></p>
      </div>
    </div>
  </div>






